body {
    background-color: rgba(0, 0, 0, 0.798)
}

.toDoList {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 100px;
}

h1 {
    font-size: 4rem;
    color: white
}

.button {
    font-size: 1.7rem;
    font-weight: bold;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.addButton {
    composes: button;
    background-color: green;
}

.addButton:hover {
    background-color: aqua;
}



.editButton:hover {
    background-color: aqua;
}

input[type='text'] {
    font-size: 1.6rem;
    padding: 10px;
    border: 2px solid gray;
    border-radius: 5px;
    color: blue
}


