ol {
    padding: 0;
}

li {
    font-size: 2rem;
    font-weight: bold;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.725);
    margin-bottom: 10px;
    border: 3px solid rgba(202, 202, 202, 0.734);
    border-radius: 5px;
    display: flex;
    align-items: center;

}

.text {
    flex: 1;
}

.completed {
    text-decoration: line-through;
}

input[type='text'] {
    font-size: 1.6rem;
    padding: 10px;
    border: 2px solid gray;
    border-radius: 5px;
    color: blue
}

.button {
    font-size: 1.7rem;
    font-weight: bold;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.deleteButton {
    composes: button;
    background-color: yellowgreen;
}

.deleteButton:hover {
    background-color: red;
}

.moveButton {
    composes: button;
    background-color: blueviolet;
}

.moveButton:hover {
    background-color: aqua;
}

.editButton {
    composes: button;
    background-color: rgba(153, 205, 50, 0.62);
}