body{
  background-color:rgba(0, 0, 0, 0.798)
}

.to-do-list {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 100px; 
}

h1 {
  font-size: 4rem;
  color: white
}

button {
  font-size: 1.7rem;
  font-weight: bold;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.add-button{
  background-color: green;
}

.add-button:hover{
  background-color: aqua;
}

.delete-button{
  background-color: yellowgreen;
}

.delete-button:hover{
  background-color: red;
}
.move-button{
  background-color: blueviolet;
}

.move-button:hover{
  background-color: aqua;
}

input[type='text']{
  font-size: 1.6rem;
  padding: 10px;
  border: 2px solid gray;
  border-radius: 5px;
  color:blue
}

ol{
  padding: 0;
}

li{
  font-size: 2rem;
  font-weight: bold;
  padding: 15px;
  background-color:rgba(255, 255, 255, 0.725);
  margin-bottom: 10px;
  border: 3px solid rgba(202, 202, 202, 0.734);
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.text{
  flex: 1;
}

.completed{
  text-decoration: line-through;
}